<?xml version="1.0"?>
<connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-RacePhotos2-20131107121357.mdf;Initial Catalog=aspnet-RacePhotos2-20131107121357;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>
